<<<<<<< HEAD
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>关于我们</h1>
    <p>这是一个简单的动态网站示例。</p>
</body>
</html>
=======
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>关于我们</h1>
    <p>这是一个简单的动态网站示例。</p>
</body>
</html>
>>>>>>> 3ffc43c9356f8ada481788029bffb7f2ddd5a5fa
