<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>欢迎来到我的动态网站</h1>
    <p>这是一个由 Node.js 和 Express 提供支持的动态网页。</p>
</body>
</html>